p{
color:lightslategray;
font-size: 30.4pt;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
background-color:wheat;
background-image: url(tlo.png) ;

}



img{
width: 380px;
border: 6px;
border-style: solid;
}


div{
background-color: black;
padding:20pt
